.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  max-width: max-content;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.text {
  font-size: 10px;
}
